build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/project
build/result.bmp
build/run.sh
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a54b8d7b2599f6a52120.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9da3e3c7a5e51235a46c.json
build/.cmake/api/v1/reply/codemodel-v2-5d13afa5a8d5301edf2c.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-12-09T04-26-16-0714.json
build/.cmake/api/v1/reply/target-project-Debug-b983cb7cb1f12c4df3b2.json
build/.cmake/api/v1/reply/toolchains-v1-e5c58cd024125e936b1a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/project.dir/build.make
build/CMakeFiles/project.dir/cmake_clean.cmake
build/CMakeFiles/project.dir/compiler_depend.make
build/CMakeFiles/project.dir/compiler_depend.ts
build/CMakeFiles/project.dir/depend.make
build/CMakeFiles/project.dir/DependInfo.cmake
build/CMakeFiles/project.dir/flags.make
build/CMakeFiles/project.dir/link.txt
build/CMakeFiles/project.dir/progress.make
build/CMakeFiles/project.dir/src/camera.cpp.o
build/CMakeFiles/project.dir/src/camera.cpp.o.d
build/CMakeFiles/project.dir/src/framebuffer.cpp.o
build/CMakeFiles/project.dir/src/framebuffer.cpp.o.d
build/CMakeFiles/project.dir/src/light.cpp.o
build/CMakeFiles/project.dir/src/light.cpp.o.d
build/CMakeFiles/project.dir/src/main.cpp.o
build/CMakeFiles/project.dir/src/main.cpp.o.d
build/CMakeFiles/project.dir/src/matrix.cpp.o
build/CMakeFiles/project.dir/src/matrix.cpp.o.d
build/CMakeFiles/project.dir/src/model.cpp.o
build/CMakeFiles/project.dir/src/model.cpp.o.d
build/CMakeFiles/project.dir/src/renderer.cpp.o
build/CMakeFiles/project.dir/src/renderer.cpp.o.d
build/CMakeFiles/project.dir/src/shader.cpp.o
build/CMakeFiles/project.dir/src/shader.cpp.o.d
build/CMakeFiles/project.dir/src/vector.cpp.o
build/CMakeFiles/project.dir/src/vector.cpp.o.d
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/.cmake/api/v1/reply/codemodel-v2-74c8741459b00c524f4c.json
build/.cmake/api/v1/reply/index-2024-12-10T13-23-37-0045.json
build/.cmake/api/v1/reply/target-project-Debug-df24edb42a3069f3d66c.json
build/CMakeFiles/project.dir/compiler_depend.internal
build/CMakeFiles/project.dir/src/ScanLineZBuffer.cpp.o
build/CMakeFiles/project.dir/src/ScanLineZBuffer.cpp.o.d
